/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

//Welcome idex
.banner-image {
	width: 100%;
}
#welcome-links {
	text-align: center;
}
.welcome-wrapper {
	border: 1px solid black;
	margin-bottom: 15px;
	background-color: #E8E8E8;
	border: 70px;
	border-radius: 10px;
}
#welcome-slogan {
	margin: 25px 0 25px 0 !important;
}

//Main Posts Page
#posts-inner-wrapper {
	text-align: center;
}
.index-avatar{
	max-height: 100px;
}
.upvote-icon {
	max-height: 20px;
}
.upvote-number {
	margin-top: 15px;
}
.upvote-wrapper {
	text-align: center;
}
.post {
	border-top: 1px solid gray;
	//border-bottom: 1px solid gray;
	padding: 10px;
	// background-color: #66314B
}
.posts-row {
	text-align: left;
}
.post-content {
	margin-left: 7px;
	margin-right: 7px;
}
#posts-wrapper {
	border: 1px solid black;
	margin-bottom: 15px;
	background-color: white;
	border: 70px
}
.login-wrapper {
	border: 1px solid black;
	margin-bottom: 15px;
	background-color: white;
	border: 70px;
}
.inner-login-wrapper{
	background-color: #E8E8E8 ;
	padding: 10px 40px 10px 40px;
	border-radius: 8px;
}
.login-header{
	font-weight: 700;
}
.login-header-bold{
	margin-top: 15px;
	margin-bottom: 15px;
}
.comment-post {
	border-bottom: 1px solid gray;
	padding-top: 20px;
	padding-bottom: 20px;

}
.comment-wrapper{
	border-left: 50px;
	border-right: 50px;
	background-color: white;
}
#media-row {
	width: 100%;
	max-height: 500px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #8C808D;
	border-radius: 5px;
}
#media-player-div{
	border-left: 1px solid #000;
	min-height:200px
}
#media-player {
	height: 100% !important;
	text-align: center
}

.disclaimer {
	font-size: 9px;
	border-top: 15px;
	text-align: center;
}
.hidden {
	display: none;
}

//user show page
.inner-container-edit {
	background-color: lightgray;
	margin-top: 10px;
	border-bottom: 0;
	width: 100% !important;
}
.inner-container-edit h4 {
	display: inline;
}
#edit-container {
	background-color: lightgrey;
	margin: 25px 200px 25px 200px;
	border-radius: 40px;
}
#user-avatar-img {
	max-width: 200px;
}
.edit-bold {
	font-weight: 600;
}
.profpic {
	height: 100%;
	width: 120px;
}
#edit-button-submit {
	text-align: center;
}
.date{
	font-size: 10px;
}
.userposts {
	border-top: 1px solid black;
	border_bottom: 1px solid black;
}
//New Post Form
.new-post-container {
	margin-top: 20px;
	text-align: left;
}
#radio-row {
	margin-top: 20px;
	text-align: center;
}
span label {
	font-weight: 700;
	font-size: 18px;
}
#new-button-submit {
	text-align: center;
	padding: 0 45px 0 45px;
}
